LSTM-video-classification/__pycache__/*
*.jpg
*.rar
*.zip
*.gz
*.avi
*.swp
*.mp4
*.png
*.csv
*.h5
.idea/*
MesoNet/*
training/*
LSTM-video-classification/data/checkpoints/*
LSTM-video-classification/data/sequences/*
LSTM-video-classification/data/train/Deepfake/*
LSTM-video-classification/data/train/Real/*
LSTM-video-classification/data/test/Deepfake/*
LSTM-video-classification/data/test/Real/*
Dataset/*
data_preprocessing/Dataset/*
data_preprocessing/Dataset_frames/data/*
data_preprocessing/Dataset_frames/Dataset_final/*
data_preprocessing/Dataset_frames/Dataset_final_images/*
data_preprocessing/Dataset_frames/face_images/*
